<nav>
    <div class="site-title">
        <a href="/"><h1>Flappy Block</h1></a>
        <p>Another Flappy Bird Knockoff</p>
    </div>
    <ul>
        <li><a href="/index">Game</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>
</nav>
