/*Style your own assignment! This is fun! */

body {
    margin: auto;
    background-color: #fdffff;
  }
  
  .bigBox {
    display: flex;
    flex-flow: row wrap;
  }
  
  .bigBox > * {
    flex: 1 100%;
  }
  
  .bigBox > div {
    margin: 1em;
  }
  
  .header {
    font-size: 70px;
    text-align: center;
    margin: auto;
    font-family: "Bungee Shade", cursive;
    color: #010081;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #008080;
  }
  
  
  .intro {
    display: flex;
    font-family: Sans-Serif;
    font-size: 24px;
    justify-items: center;
    flex-direction: column;
  }
  
  label{
    margin-bottom: 3.5px;
  }
  
  strong {
    color: #ff0081;
  }
  
  .formAndInst {
    display: flex;
    font-family: Sans-Serif;
    font-size: 20px;
    align-items: center;
  }
  
  .formAndInst p {
    margin-left: 50px;
    ont-family: Sans-Serif;
    font-size: 24px;
  }
  
  table, th, td {
    border: 1px solid black;
    font-family: Sans-Serif;
    background-color: #c3c3c3;
  }
  
  th{
    background-color: #fdffff;
  }
  
  .tableH {
    flex-grow: 4;
    font-size: 70px;
    text-align: center;
    margin: auto;
    font-family: "Bungee Shade", cursive;
    color: #010081;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #008080;
  }
  
  input[type="text"] {
    border: 1px solid #555;
    outline: none;
  }
  
  input[type="text"]:focus {
    background-color: #c3c3c3;
    border: 1px solid black;
  }
  
  .formBoxes {
    display: flex;
    flex-direction: column;
  }
  
  .formBoxes > input {
    margin: 2px;
  }
  
  button {
    font-family: Sans-Serif;
    border: 1px solid black;
    background-color: #BFCAD6;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9FA9B3;
  }
  
  .footer {
    font-size: 8px;
  }
  
  @media all and (max-width: 600px) {
    .formAndInst {
      flex-direction: column;
    }
  
    .formAndInst p {
      margin-left: 1em;
    }
  
    .header img {
      width: 100px;
      height: 150px;
    }
  }
  
  @media all and (min-width: 1000px) {
    .intro p {
      margin-left: 100px;
      margin-right: 100px;
    }
  
    .formAndInst p {
      margin-right: 100px;
    }
  
    .formBoxes {
      margin-left: 100px;
    }
  }
  
  @media all and (min-width: 1250px) {
    .intro p {
      margin-left: 200px;
      margin-right: 200px;
    }
  
    .formAndInst p {
      margin-right: 200px;
    }
  
    .formBoxes {
      margin-left: 200px;
    }
  }
  
  @media all and (min-width: 1500px) {
    .intro p {
      margin-left: 300px;
      margin-right: 300px;
    }
  
    .formAndInst p {
      margin-right: 300px;
    }
  
    .formBoxes {
      margin-left: 300px;
    }
  }
  
  