<!doctype html>
<html lang='en'>
  <head>
    <title>lofi pitter patters to study to</title>
    <meta charset="utf-8">
    <!-- CSS Framework -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <form action='/login' method='POST'>
      <input type='text' placeholder="username" name='username'>
      <input type='password' placeholder="password" name='password'>
      <input type='submit'>
    </form>
  </body>
</html>