<!doctype html>
<html lang="en">
    <head>
        <title>PokeTracker</title>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/modal.css">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./js/script.js"></script>
    </head>

    <body>
        <form action="/logout" method="post">
            <button name="foo" value="logout" class="logoutBtn">Logout</button>
        </form>

        <div class="main_container">

            <h1>Welcome to PokeTracker!</h1>

            <button class=btn id="modalBtn">Add Pokemon</button>

            <div id="modal" class="modal">
                <div class="modal-content">
                  
                  <div class="modal-header">
                    <span id="exitModalBtn" class="closeBtn">&times;</span>
                    <h2 id="modal-message">Add a Pokemon:</h2>
                  </div>
                  
                  <div class="modal-body">
                    <form id="data_form">
                        <div id="firstPart"></div>
                        <div id="secondPart" style="display:none;">
                            <label for="nickname">Nickname?</label><br>
                            <input type="text" name="nickname" id="nickname"><br>
                            <label for="gender">Gender?</label><br>
                            <select name="gender" id="gender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <input type="submit" value="Submit">
                        </div>
                    </form>  
                  </div>
          
                  <div class="modal-footer"></div>
          
                </div>
            </div>

            <div id="result_container" class="table_container">
                <table id="results" class="content-table"></table>
            </div>

        </div>

        <script src="./js/modal_init2.js"></script>
    </body>
</html>