<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="/script.js" defer></script>
    <title>Welcome to Characters</title>
    
    <template id="material">
      <tr>
        <td>Name</td>
        <td>Mass (kg)</td>
        <td>Volume (m^3)</td>
        <td>Density (kg/m^3)</td>
        <td>Cost</td>
        <td>Total Cost</td>
      </tr>
    </template>
    
  </head>
  <body>
    
  <div class="row">
    <div class="col-sm-6">
      <h1 id="welcome">Welcome!</h1>
    </div>
    
    <div class="col-sm-6">
      <div class="float-end">
        <form action="/logout" method="GET">
          <button type="submit" class="btn btn-warning" href="/logout">Log out</button>
        </form> 
      </div>  
    </div>
  </div>
  <header>
    <h1>Materials</h1>
  </header>
  <main>
    <div id="form" class="row" >
      <div class="col">
        <h2 id="form-title">Add new material:</h2>
          <form class="row" action="/addnew" method="POST" >
            <div class="col">
              <input id="name" name="name" type="text">
              <label for="name">Material Name</label>
            </div>
            <div class="col">
              <input id="mass" name="mass" type="number">
              <label for="mass">Mass (kilograms)</label>
            </div>
            <div class="col">
              <input id="volume" name="volume" type="number">
              <label for="volume">Volume (cubic meters)</label>
            </div>
            <div class="col">
              <input id="cost" name="cost" type="number">
              <label for="cost">Cost per Kilogram</label>
            </div>
            <div class="col">
              <button class="btn btn-primary" id="submit-button">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <table class="table">
        <tr>
          <th>Name</th>
          <th>Mass (kg)</th>
          <th>Volume (m^3)</th>
          <th>Density (kg/m^3)</th>
          <th>Cost</th>
          <th>Total Cost</th>
        </tr>
      <tbody id="mat_list">

      </tbody>
      </table>
      
    </main>


  </body>
</html>

