<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap"
    rel="stylesheet"
  />
  <head>
    <title>CS4241 Assignment 3</title>
    <h1>Plant Parenthood</h1>
    <meta charset="utf-8" />
  </head>
  <body>
    <img
      src="https://www.seekpng.com/png/full/927-9278730_house-plant-png-plant-banner-png.png"
      alt="Plants"
      width="80%"
      height="175px"
      class="center"
    />
    <h2>Login</h2>
    <div style="width: 15%; margin-left: 42.5%; margin-right: 42.5%">
      <form action="/login" method="POST">
        <div style="width: 10%; float:left">
          <label for="user" class="theLabels2">Username: </label
          >
        </div>
          <div style="width: 90%; float: left;">
          <input
            type="text"
            name="username"
            placeholder="username"
            class="theInputs2"
          />
        
        </div>
        <div style="width: 10%; float: left;">
          <label for="password" class="theLabels2">Password: </label
          >
        </div>
          <div style="width: 90%; float: right;">
          <input
            type="password"
            name="password"
            placeholder="password"
            class="theInputs2"
          />
        </div>
        <div style="margin-top: 10%; margin-left: 42%; padding-top: 65px;"><input type="submit" /></div>
      </form>
    </div>
  </body>
</html>
