<!DOCTYPE html>
<html lang= "en">
    <head>
        <title>CS4241 Assignment 3</title>
        <link rel = "icon" href = 
        https://cdn2.bulbagarden.net/upload/thumb/1/1f/831Wooloo.png/1200px-831Wooloo.png
        type = "image/x-icon">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login-In Page.">
    </head>
    <body>
        <script src="js/login.js"></script>
        <link href="css/sakura.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Besley&display=swap" rel="stylesheet"> 
        <h1>Login</h1>
        <div id= "loginBg">
            <div>
                <form id="login" autocomplete="off">
                    <label id="usernameLabel">
                        Username
                    </label>
                    <div></div>
                    <input type='text' onfocus="this.value=''" class="textBox" id="username" placeholder="Enter your username here">
                    <div></div>
                    <label id="passwordLabel">
                        Password
                    </label>
                    <div></div>
                    <input type='password' onfocus="this.value=''" class="textBox" id="password" placeholder="Enter your password here">
                    <div></div>
                    <button id="loginBtn">Login</button>
                    <button id="signUp">Sign Up</button>
                </form>
             </div>
        </div>
    </body>
</html>