<html lang='en'>
<%- include("./partials/head.ejs")%>
<body >
    <div>
        <form action='/login' method='POST'>
            <input type='text' name='username'>
            <input type='password' name='password'>
            <input type='submit'>
        </form>
        <p><a href="/signUpPage">Sign Up</a></p>
    </div>
</body>
</html>
