<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A cool thing made with Glitch">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/cirrus-ui">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    

    <title>Bucket List Simulator!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  
    <!-- import the webpage's client-side javascript file -->
    <script src="/public/script.js"></script>
    
  </head>
  <body>
    <header>
      <h1>Bucket List Simulator</h1>
    </header>

    <main>
      <p style= "font-size: 2em">Tell me what's on your bucket list!</p>

      <form id="dreamsForm">
        <label>
          New Dream
          <input name="dream" id= "dreamname" type="text" maxlength="100" required placeholder="Dreams!">
        </label>
        
        <label>
          What month and year do you want to complete it by?
          <input name="time" id="dreamtime" type="month" maxlength="100" required placeholder="When?">
        </label>
        
        <label>
          What level of priority?
          </label>
          
            <label>
              High
              <input type="radio" id="highPriority" name="priority" value="high">
            </label>
            
            <label>
              Medium
              <input type="radio" id="mediumPriority" name="priority" value="medium">
            </label>
          
            <label>
              Low
              <input type="radio" id="lowPriority" name="priority" value="low">
            </label>
          
        
        
        <button type="submit" id="submit-dream">Add</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams">
          <em>loading dreams&hellip;</em>
        </ul>
      </section>
    </main>
    
    
  </body>
</html>
