<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/scriptM.js" defer></script>
    <title>Data page</title>
  </head>
  <body>
    <h1>Welcome to your contact data!</h1>
    <div id="wrapper">
    <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
    <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Age</th>
    </tr>
    
    <tr id="row1">
    <td id="name_row1">exampleName: Bob</td>
    <td id="country_row1">exampleCountry: USA</td>
    <td id="age_row1">exampleAge: 20</td>
    <td>
    <input type="button" id="edit_button1" value="Edit" class="edit" onclick="edit_row('1')">
    <input type="button" id="save_button1" value="Save" class="save" onclick="save_row('1')">
    <input type="button" value="Delete" class="delete" onclick="delete_row('1')">
    </td>
    </tr>
    
    <tr>
    <td><input type="text" id="new_name"></td>
    <td><input type="text" id="new_country"></td>
    <td><input type="text" id="new_age"></td>
    <td><input type="button" class="add" onclick="add_row();" value="Add Row"></td>
    </tr>
    
    </table>
    </div>
    
    </body>
</html>
