<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing">

    <title>Create an Account</title>
    
    <link rel="preconnect" href="https://unpkg.com/98.css">
    <link rel="dns-prefetch" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/new-user/style.css">
    <script src="/new-user/script.js" defer></script>
    <script src="/script.js" defer></script>
  </head>

  <body>
    <div class="window centered" style="width:400px">
      <div class="title-bar">
        <div class="title-bar-text">Create an Account</div>
        <div class="title-bar-controls">
          <button aria-label="Close" onclick="logout()"></button>
        </div>
      </div>
    
      <div class="window-body">
        <div class="order-box">
          Loading...
        </div>
        
      </div>
    </div>
  </body>
</html>
