<!DOCTYPE html>
<html>
    <head>
        <title>CS 4241 Assignment 3</title>
        <meta charset="utf-8">
        <script src="/public/script.js"></script>
    </head>
    <body>
        <header>
            <h1>Create New User</h1>
        </header>
        <form action="/createUser" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Log In">
        </form>
        <a href="/">Returning User?</a>
    </body>
</html>