<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Occlupanid collection cataloguer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <div id="body-wrapper">
      <h1>Oops!</h1>
      <p>
        That password didn't match your username. Make sure that spelling and capitalization is correct.
      </p>
      <h2>
        <a href="/">Try Again</a>
      </h2>
    </form>
    </div>
  </body>
</html>