<meta name="Registration Page for Library of Horrors">
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="card-title text-center mb-5 fw-light fs-5">Register Here</h1>
                    <form action="/register" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" name="floatingInput"
                                   placeholder="name@example.com" required
                                   value="<%=typeof floatingInput != 'undefined' ? floatingInput:''%>">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="firstName" placeholder="Jane" name="firstName"
                                   required
                                   value="<%=typeof firstName != 'undefined' ? firstName:''%>">
                            <label for="firstName" >
                                First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lastName" placeholder="Doe" name="lastName"
                                   required
                                   value="<%=typeof lastName != 'undefined' ? lastName:''%>">
                            <label for="lastName" >
                                Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" name="floatingPassword"
                                   placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confPassword" name="confPassword"
                                   placeholder="Password" required>
                            <label for="confPassword">Confirm Password</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Register
                            </button>
                        </div>
                    </form>
                    <a href="/">Have an account? Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
