<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register Page</title>
    <script src="/regist.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Sign Up!</h1>

    <div>
      <form id="signupForm">
        <label class="signTextLeft">Username</label>
        <input type="text" id="username" value="" placeholder="Your username here" required>

        <label class="signTextLeft">Password</label>
        <input type="password" id="password" value="" placeholder="Your password here" required>

        <button type="submit" id="registerButton">Sign up</button>
      </form>
      <div>Already have an account? <a href="/login">Sign in here</a>!</div>
    </div>

  </body>
</html>
