<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="result" content = "Results Here! here you can see the results page">
    <title>Team Assignment Scheduler</title>

</head>
<body class="results">
<div>
    <button type="button" id="submissionButton">Back to submission form</button>
</div>
<div>
    <table>

    </table>
</div>
</body>
<script src="../public/results.js"></script>

</html>