<!DOCTYPE html>
<html lang='en'>
<%- include("./partials/head.ejs")%>
<body>
<div class="row mh-100">
    <div class="col loginDiv mh-100">
        <p class="loginText">Create an Account</p>
        <form action='/signUp' method='POST'>
            <input type='text' name='username' placeholder="Username">
            <br>
            <input type='password' name='password' placeholder="Password">
            <br>
            <input type='submit'>
        </form>
    </div>
</div>
</body>
</html>
