<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Occlupanid collection cataloguer">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <div id="body-wrapper">
      <h1>Welcome to HORG Logger!</h1>
      <p>
        You've created a new account! Make sure to record your password in a safe place so that you can log in and view your collection anytime.
      </p>
      <h2>
        <a href="/homepage.html">Start Loggin'</a>
      <h2>
    </form>
    </div>
  </body>
</html>