body {
    grid-template-columns: [col0] 150px [col1] 300px [col2] 500px [col3] 300px [col4] auto [col5];
    grid-template-rows: [row0] 100px [row1] 0px [row1] 300px [row2] 200px [row3] 200px [row4] 15% [row5]; 


    grid-template-areas:  
        "headerArea headerArea headerArea headerArea headerArea"
        ". logoArea . . ."
        ". logoArea . formArea . "
        ". . . formArea ."
        ". . . paraArea ."
        ". . . . ." 
        ". . . . ."
}

#secondaryButton {
    width: 200px;
    height: 40px;
    border-color: black;
    margin-top: 10px;
}

.buttonHolder {
    text-align: center;
}

p {
    font-size: large;
    height: 70px;
    background-color: black;
    color: #ffd814;
    grid-area: paraArea;
    padding: 10px;
}