
/*light theme only*/

@media(prefer-color-scheme: light){
:root{
  --background-body: rgb(12 124 167 / 20%);
  --links: #0057d1;
  --focus: #0096bfcc;
  --button-base: #4f5687f2f2;
  --button-hover: #0071d1;
  --form-placeholder: #6e0404;
  --form-text: #1d1d1d;
  }

}


