.theme-colors{
    primary: #0074d9;
    secondary: green;
    danger: #ff4136;
}

p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Glory";
}
/*
nav{
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-left: 20px;
}
nav h1{
    font-size: 3em;
    font-family:"ABeeZee";
}
nav a {
    font-weight: 300;
    color: #777;
}

nav p{
    color: #777;
    font-size: 2em;
    font-weight: 300;
    text-align: left;
}*/
footer{
    color: black;
    text-align: center;
    margin-top: 10px;
}
.general {
    font-family: "Glory", monospace;
}

.gameArea {
    align-items: center;
    padding-top: 30px;
    background-color: beige;
}

.scoreArea {
    align-items: center;
    padding-top: 30px;
    background-color: mediumpurple;
}

table, th, td {
    flex-shrink: 3;
    border: 2px solid black;
}

tr:nth-child(2){
    background-color: goldenrod;
}
tr:nth-child(3){
    background-color: silver;
}

tr:nth-child(4){
    background-color: #a99383;
}

tr {
    background-color: beige;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#container {
    border:1px solid black;
    width: 700px;
    height: 400px;
    position: relative;
    background: grey;
}
#animate {
    width: 30px;
    height: 30px;
    x: 10px;
    y: 100px;
    background: red;
    position: absolute;
}

#myfilter{
    position:absolute;
    background-color:#000000;
    opacity:0.3;
    width:482px;
    height:271px;
}

#myrestartbutton{
    position:absolute;
    width: 100px;
    margin-top: 130px;
    margin-left: 210px;
    display: none;
}

input {
    padding: 5px 15px;
    font-family: "Glory";
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: lightblue;
}

 #submitBtn{
     display: none;
 }

 #accelBtn{
     display: none;
     margin-bottom: 20px;
 }

.hidden{
    display: none;
}

h1 {
    font-size: 70px;
    color: green;
    margin-bottom: 20px;
    margin-top: 30px;
}

h2 {
    font-size: 40px;

}

#scorePrint{
    font-size: 50px;
    color: blue;
    text-align: right;
}

.icons {
    text-decoration: none;
}
.icons:visited, .icons:link {
    color: black;
}

.displayedComment {
    border: black 1px solid;
    padding: 3px;
    margin-top: -12px;
    margin-bottom: 5px;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: beige;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    width: auto;
}

.loginText {
    font-size: 45px;
    color: green;
}
