/* Default styling for the entire webpage */
* {
  box-sizing: border-box;
  list-style-type: none;
}

/* Setting the page's background color */
body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(169, 176, 183);
}

/* Setting headings font */
h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Setting heading 2 extra details for WPI theme */
h2 {
  background-color: rgb(172, 43, 55);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

/* Setting Input field background */
#StudentName,
#StudentClass,
#StudentRole,
#StudentGradDate {
  background-color: rgb(255, 255, 255);
}

/* Setting the border on the entire forum table section */
#forum_section {
  border: 4px solid black;
}

/* Setting the border on the rows of the forum table */
.forum_row {
  border: 2px solid black;
}

/* Setting the border and padding for the cells in the forum table */
.forum_cell {
  border: 2px solid black;
  padding: 10px;
}

/* Setting the default style of buttons */
#add_entry_button,
.forum_cell_button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Setting the formatting for the remove and update entry buttons */
.forum_cell_button {
  border: 2px solid black;
  padding: 10px;
  width: 100%;
}

/* Setting the formatting for the table header */
.forum_header {
  background-color: rgb(172, 43, 55);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px;
}

/* Setting the style to use for links */
a {
  background-color: rgb(244, 212, 147);
  color: rgb(20, 22, 163);
  font-size: 20px;
  font-weight: bold;
}

/* Setting padding up for the image in the login screen */
img {
  padding: 30px;
}

/* Setting the font size of non heading elements */
p,
th,
td,
li,
.input_area
.tutorial_area {
  font-size: 18px;
}

/* Setting the style for radio field items */
.radio_input_fields_item{
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

/* Changing the button look on hover */
button:hover,
#add_entry_button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Setting the formatting for the input fields that are being changed to take in info */
.input_table_item  {
  font-size: 18px;
  width: 90%;
  border: 1px solid black;
}

/* Changing the size of items in the list of radio items for formatting purposes */
.radio_input_fields_list {
  font-size: 18px;
  width: 90%;
  padding-left: 0px;
}

/* Setting up the header area */
.header_area {
  background-color: rgb(172, 43, 55);
  color: rgb(255, 255, 255);
  grid-area: header;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

/* Setting up the table area */
.table_area {
  grid-area: table;
  text-align: center;
}
/* Setting up the input area */
.input_area {
  grid-area: input;
}
/* Setting up the tutorial area */
.tutorial_area {
  grid-area: tutorial;
}

/* The area we store links */
.link_area {
  grid-area: link;
  text-align: center;
}

/* The welcome area on the login page */
.welcome_area {
  grid-area: welcome;
  text-align: center;
}

/* The logout area in the forum page */
.logout_area {
  grid-area: logout;
  text-align: center;
}

/* The logo area in the login page */
.logo_area {
  grid-area: logo;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Setting the grid layout of the entire forum web page */
.grid_layout {
  display: grid;
  grid-template-columns: 10% 50% 30% 10%;
  grid-template-rows: 20%, 5%, 20%, 20%, 40%;
  grid-template-areas:
    "header header header header"
    "logout logout logout logout"
    ". input tutorial . "
    ". input tutorial ."
    ". table table .";
}

/* Setting the grid layout of the entire login web page */
.login_grid_layout {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20%, 5%, 20%, 55%;
  grid-template-areas:
    "header header header"
    "link link link"
    ". welcome . "
    ". logo .";
}
