* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 2em 1em;
    line-height: 1.5em;
    color: black
  }
  
  h1 {
    font-style: bold;
    color: #373fff;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
    color: #2A52BE
  }
  
  form {
    background-color: #CCCCFF;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 40ch;
  }
  
  input {
    border: 1px solid gold;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  form button {
    background-color: #FFD700;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
  }
  
  form button:hover {
    background-color: gold;
  }
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }