/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    margin: 2em 1em;
    line-height: 1.5em;
    background-color: #b2e4ff;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
  }
  
  form {
    background-color: #C5CBE3;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 40ch;
  }
  
  input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  form button {
    background-color: #bbbbf2;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
  }
  
  input[type = "radio"]{
    display: inline-block;
    vertical-align: center;
  }
  
  .radio-label {
    padding-bottom:1px;
  }
  
  form button:hover {
    background-color: lavender;
  }
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }
  