<!doctype html>
<html lang="en">

<body class="bg-light">

  <head>
    <%- include('../partials/head'); %>
    <script type="module" src="/js/home.js"></script>
  </head>

  <%- include('../partials/nav'); %>

  <div class="ps-3">
    <h1>Welcome to BoarderLine</h1>
  </div>

  <!-- Get the information from the user into the Grid -->
  <div class="container">

  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>