.whole-page {
  height: 100vh;
  max-width: 100vw;
}

#logout-btn {
  position: absolute;
  right: 4%;
  top: 7%;
}

#login-error.active {
  text-align: center;
  border: 1px solid;
  padding: 3%;
  margin-bottom: 2%;
  color: #d8000c;
  background-color: #ffbaba;
}

#addEntryOverlay {
  position: absolute;
  background-color: #f3f3f3;
  transition: all 1s ease-in-out;
}

#addEntryOverlay.closed {
  transform: translateY(-100%);
  opacity: 0;
}

#addEntryOverlay.opened {
  transform: translateY(0%);
  opacity: 1;
}
