.whole-page {
  height: 100vh;
  max-width: 100vw;
}

#addEntryOverlay {
  position: absolute;
  background-color: #f3f3f3;
  transition: all 1s ease-in-out;
}

#addEntryOverlay.closed {
  transform: translateY(-100%);
  opacity: 0;
}

#addEntryOverlay.opened {
  transform: translateY(0%);
  opacity: 1;
}
